@model NerdStore.WebApp.MVC.Models.ErrorViewModel
@{
    ViewData["Title"] = "Ocorreu um erro";
}

<div class="container">
    <div style="padding-top: 200px; text-align: center">
        @{
            if (Model == null)
            {
                <h2>Vish, deu ruim! Mas não se preocupe, o nosso time será avisado e iremos corrigir em breve!</h2>
            }
            else
            {
                <h2>@Html.Raw(Model.Message)</h2>
            }
        }
    </div>
</div>