@model NerdStore.WebApp.MVC.Models.ErrorViewModel
@{
    ViewData["Title"] = "Ocorreu um erro";
}

@{
    if (Model == null)
    {
        <div>
            <h2>Vish, deu ruim! Mas não se preocupe, o nosso time será avisado e iremos corrigir em breve!</h2>
        </div>
    }
    else
    {
        ViewData["Title"] = Model.Title;

        <div>
            <h2>@Html.Raw(Model.Message)</h2>
        </div>

    }
}
